<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
   	<!-- Requires jQuery -->
	<script src="{{ url_for('static', filename='js/jquery.min.js')}}" type="text/javascript"></script>

    <!-- Requires CodeMirror -->
    <script src="{{ url_for('static', filename='js/codemirror.js')}}" type="text/javascript"></script>
    <script src="{{ url_for('static', filename='mode/clike/clike.js')}}" type="text/javascript"></script>

    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/codemirror.css')}}" />

    <!-- Requires Mergely -->
    <script src="{{ url_for('static', filename='js/mergely.js')}}" type="text/javascript"></script>
    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/mergely.css')}}" />

    <link rel="stylesheet" media="all" href="{{ url_for('static', filename='css/style.css')}}" />

    <!-- Script for diff production -->
    <script src="{{ url_for('static', filename='js/experiment.js')}}" type="text/javascript"></script>


    <style>
        .lint-error {font-family: arial; font-size: 80%; background: #fcfa96; color: #a00; padding: 2px 5px 3px; border: 1px solid black;}
        .lint-error-icon {color: white; background-color: red; font-weight: bold; border-radius: 50%; padding: 0 3px; margin-right: 7px;}
    </style>
   
    <script type="text/javascript">
        $(document).ready(function () {
            logData("pageLoaded", "pageLoaded");

            //size of screen
            logData("screen height", window.screen.height);
            logData("screen width", window.screen.width);

            // Size of browser viewport.
            logData("window height", $(window).height());
            logData("window width", $(window).width());

            // Size of HTML document (same as pageHeight/pageWidth in screenshot).
            logData("html document height", $(document).height());
            logData("html document width", $(document).width());

            $("#button-continue").click(function(){
                $("#div-mergely").show();
                $("#button-continue").hide();

                logData("read_instructions", "read_instructions");
                var width = $(window).width() - 50;
                {% for code in codes %}
                    initMergely('#compare{{code["id"]}}',
                        parseInt('{{code["linecount"]}}') * 18.5 + 17,
                        parseInt('{{code["contextLineCount"]}}') * 18.5,
                        width,
                        parseInt('{{code["left_line_number"]}}'),
                        '{{code["left_content"] | safe}}',
                        parseInt('{{code["right_line_number"]}}'),
                        '{{code["right_content"] | safe}}',
                        '{{code["prefix_line_count"]}}',
                        '{{code["prefix_escaped"]}}',
                        '{{code["suffix_escaped"]}}');
                {% endfor %}

                if ('{{ is_primed }}' == 'True'){
                    var instance = $("#compare0").mergely('cm', 'rhs');
                    var msg = document.createElement("div");
                    var icon = msg.appendChild(document.createElement("span"));
                    icon.innerHTML = "!!";
                    icon.className = "lint-error-icon";
                }

                var editors = [];
                var name = "#compare";
                var compareName = "compare";
                for(let i = 0; i < 5; i++) {
                    var hunkName = name + i;
                    var editor = $(hunkName).mergely('cm', 'rhs');
                    editors[i] = editor;

                    var compareSpecificName = compareName + i;
                    var internalBar = document.getElementById(compareSpecificName).getElementsByClassName("CodeMirror-vscrollbar");
                    internalBar[1].onscroll = function (ev) {
                        recomputeLinesScroll(i);
                        scrollHandler();
                    };
                }
                setEditors(editors);
                computeLinesInHunk("none", 0);

            });

            // Window scroller
            window.onscroll = function (ev) {scrollHandler()};
            window.addEventListener('resize', recomputeLinesScroll(-1));

            var ctrl = false;
            document.addEventListener("keydown", function(e) {
                if(e.which == 17 || e.which == 224 || e.which == 91) {
                    ctrl = true
                }
                if(e.which == 70 && ctrl == true){
                    logData("button", "ctrl+F")
                }
            }, true);

            document.addEventListener("keyup", function(e) {
                if(e.which == 17 || e.which == 224 || e.which == 91) {
                    ctrl = false;
                }
            });
        });

        function showquestions(){
            logData("endtutorial", "clickshowquestions");
            disableRemarks();
            disableScrollRecording();
            $("#tutorial-completed").hide();
            $("#id01").hide();
            $("#final-questions").show();
        }

    </script>
    <style>
        li {
            padding-bottom: 10px;
        }
    </style>
 
</head>
<style>
    #mergely-splash { display: none !important;}
</style>
<body>
    <div>
    <p><h1>Instructions</h1></p>
    <p>In the following experiment we are going to show you the code changes to review.</p>
    <p>Please take the review task <strong>very seriously</strong> (this is critical for the scientific validity of this experiment).</p>
    <p>There is a total of <strong>two</strong> tasks with 5 files each. There is a tutorial code with two files at the start of the experiment that does not count towards the actual experiment.</p>

    <h3>Information</h3>
    <ul>
        <li>The old version of the code is on the left, the new version is on the right.</li>
        <li><strong>Review comments</strong></li>
        <ul>
            <li>To <strong>add</strong> a review comment, click on the corresponding line number.</li>
            <li>To <strong>modify/delete</strong> a review comment, click on the corresponding line number again and modify/delete the comment's text.</li>
        </ul>
        <li><strong>Usage of genAI</strong></li>
        <ul>
            <li>At the left the screen is a window with GPT-4o. You can send both text and images to it.</li>
            <li>The chat screen can be dragged left and right to increase or decrease it. Double click on the border returns it to original state.</li>
            <li>GPT-4o does <strong>not</strong> have context of the experiment codebase. To get it to help on a file, please copy–paste the code into the chat window first.</li>
        </ul>
        <li>Once you confirm to conclude the review, it will not be possible to add, delete, or modify the remarks anymore.</li>
        <li>At the end of each page you will be asked to choose how much you were interrupted and how mentally taxing was the task.</li>
    </ul>
    <form action="{{ url_for('run_experiment') }}" method="post">
  <button type="submit" id="submitter" class="button blue">I have read the text above and I want to start the review ►</button>
  </form>
        </div>
</body>
</html>
